{% extends 'base.html' %}
{% block title %}Add Notes{% endblock title %}
{% block content %}
<style>
    .container {
        margin-left: 270px;
        max-width: 600px;
        font-family: Arial, sans-serif;
    }
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
    }
    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: bold;
    }
    input,
    select {
        display: block;
        height: 50px;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    select#category {
        width: 100%;
        margin-bottom: 10px;
    }
    input#content {
        border: none; 
    }
</style>

<div class="container">
    <h1>Add Note</h1>
    <hr>
    <form method="post" enctype="multipart/form-data" action="/note/add/">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="" selected disabled>Select category</option>
            <option value="text">Text</option>
            <option value="audio">Audio</option>
            <option value="video">Video</option>
        </select>
        <label for="content">Content:</label>
        <input type="file" id="content" name="content" required><br>
        <div class="row">
            <div class="col-md-12"> 
                <input type="submit" value="Add Note" class="btn btn-success btn-lg btn-block">
            </div>
        </div>
    </form>
</div>
    <script>
        {% if messages %}
        {% for message in messages %}
        var messageType = "{{ message.tags }}";
        var messageText = "{{ message }}";
        if (messageType === "success") {
            alert(messageText);
        } else if (messageType === "error") {
            alert(messageText);
        }
        {% endfor %}
        {% endif %}
    </script>
{% endblock %}
